nav i{
    display: none;
}

@media (max-width : 600px){

    nav i{
        display: initial;
}
    nav .nav-middle,nav .register {
        display: none;
    }
    
    nav i {
        font-size: 3.5vh;
        color :#ffff;
    }

    .page1 h1{
        font-size: 10vw;
    }
    .page1 p{
        font-size: 2.8vw;
        text-align: center;
        line-height: 4vw; 
        padding : 0 2vw;
    }

    .page1 .search-box{
        width : 70%;
       
    }
    .page1 .search-box input{
         height : 6.5vw;
         border-radius: 1vh 0vh 0vw 1vh;
    }
    .page1 .search-box i{
         height : 6.5vw;
         border-radius:0vw 1vh 1vh 0vw;
         display: flex;
         align-items: center;
         font-size: 2.2vw;
         padding : 0.6vw 2vw;
    }

    .page1 button {
     width : 30%;
     font-size: 2.2vw;
     padding : 2.5vw 4vw;
    }
    /**************page 2************/

    .page2 .content{
        display: initial;
    }
    .page2 .content .left{
        width : 100%;
        height : 50%;
    }
    .page2 .content .right{
        width : 100%;
        height : 40%;
        /* text-align: center; */
        padding :3vw;
    }

    .page2 .content .right h1{
        font-size : 11vw;
        text-align: center;
    }
    .page2 .content .right p{
        font-size : 3vw;
        line-height: 4.5vw;
        padding : 3vw;
    }
    .page2 .content .right button{
     font-size: 2.2vw;
     padding : 2.5vw 4vw;
     margin: 0 auto;
    }

    /*page4*********/
    .page4 .content {
        flex-direction : column;
    }
    .page4 .content .left{
         width : 100%;
         height : 60%;
    }
    .page4 .content .left h1{
        font-size:14.3vw;
    }
    
    .page4 .content .right .empty{
        height : 15%;

    }

 
    .page4:hover  .content .left h1:last-child{
    transform: translate(-50% ,310%);   
    }
    .page4:hover .content .left h1:first-child{
        transform: translate(-50% ,100%);   
    }
    .page4:hover .content .left h1:nth-child(2){
        transform: translate(-50%, 200%);   
    }

    .page4 .content .right{
         width : 100%;
         height : 40%;
         display: flex;
         align-items: center;
    }
    
    .page4 .content .right .empty{
        display: none;
    }

    .page4 .content .right-up{
        width : 50%;
        height : 100%;
        justify-content: end;
    }
    .page4 .right .right-up img{
       width :80%;
    }
    .page4 .content .right-down{
        height : 100%;
        width : 50%;
        flex-direction: column;        
    }
    .page4 .content .right-down .circle{
         height : 17vw;
         width : 17vw;
    }
    .page4 .content .right-down .circle h1{
        font-size : 4vw;
    }
    .page4 .content .right-down .circle i{
        font-size : 1.3vw;
    }

    
    .page4 .right .right-down .rating h4{
        font-size : 2.8vw;
        padding-left : 2vw;
    }
        
    .page4 .right .right-down .rating i{
        font-size : 1.7vw;
        margin : 0.8vw;
    }
    .page4 .right .right-down .rating{
        width: 100%;
        height : 60%;
    }

    .page4 .right .right-down .rating .rat-box{
      margin : 1.4vw;
    }

    .page4 .right .right-down .rating .stars{
        display: flex;
    }


    /**********page 5 ********/
    .page5 .heading{
        padding : 9.5vh 0;
        font-size: 14vw;
    }

    .page5 .scroll-bar .content{
         height : 40vh;
         width : 25vh;
    }
    .page5 .scroll-bar .content h1{
         font-size: 3vh;
    }
    .page5 .scroll-bar .content p{
         font-size: 1.3vh;
    }
    .page5 .scroll-bar .content h4{
         font-size: 1.9vh;
    }
    .page5 .scroll-bar .content button{
         font-size: 1.6vh;
         margin : 0.6vh;
    }

    /*footer******/

    footer {
        padding : 3vw 4vw;
    }

    footer .content{
       flex-wrap: wrap;
       justify-content: space-between;
       padding : 2vw 8vw;
    }
    footer .content .content-box{
       width : 45%;
    }
    footer h3{
        font-size: 3vw;
    }
    footer a{
        font-size: 2.8vw;
    }
    footer p{
        font-size: 2.7vw;
        line-height:3.4vw; ;
    }

    


}